*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav */
.head{
    height: 90px;
    box-shadow: 0.5rem 0.1rem 0.6rem rgb(208, 198, 198);
}
i{
    float: right;
    margin-top: 2rem;
    font-size: 2rem;
    margin-right: 2rem;
}
/* head */
.main{
    height: 500px;
    margin-top: 1rem;
}
.main img{
    margin-left: 2rem;
}
.xxx{
    width: 40%;
    
    float: right;
    margin-right: 6rem;
    margin-top: 10rem;
    height: auto;
}
#off{
    background-color: rgb(17, 193, 79);
    color: white;
    padding: 10px;
    font-size: 1.1rem;   
}

#enjoy{
    font-size: 4.1rem;
    /* font-weight: bold; */
    font-variant: small-caps;
}

#btn{
    background-color: rgb(255, 183, 0);
    height: 2rem;
    width: 7rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(227, 227, 27);
  
}
/* offer */
.offer{
    height: 170px;
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.box{
height: 100px;
width: 353px;

}
.box:hover{
    box-shadow: 0.3rem 0.1rem 0.5rem  rgb(222, 214, 214);
}
.bt1{
   margin-left: 6rem;
  margin-top: -4rem;
  width: 75%;
  margin-right: 10rem;
}
.line{
    height: 1px;
    background-color: rgb(186, 183, 183);
}
.om{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    height: 150px;
}
.om button{
    background-color: green;
    color: white;
    border: none;
    height: 3rem;
    width: 7rem;
}
.om button:hover{
background-color: gold;
color: black;
cursor: pointer;
}
.om p{
    font-size: 2rem;
    font-weight: bold;
   
}
/* image part */
.imgg{
margin-top: 3rem;
display: flex;
flex-wrap: wrap;
gap: 1rem;
}
.a img{
    border-radius: 10%;
}
.a:hover{
  transform: scale(1.1,1.1);
 /* transform: rotate(1000deg); */
 /* transform: skew(30deg); */
 transition: 1s;
}

.footer{
    display: flex;
    justify-content:space-around;
    height: 250px;
    background: #127886;
    margin-top: 4rem;
    /* align-items: center; */
    color: white;
}

.footer .b{
margin-top: 3rem;
}

.footer .b li{
    padding: 7px;
    list-style-type: none;
}

.footer .b4 i{
    color: black;
}

.zzz{
    display: none;
}
.zzz1{
    display: none;
}

 /* MY PART */









@media only screen and (max-width: 430px) { 

    /* CSS ANIMETION */
    @keyframes sumit {
        0% {
          background-color: red;
        }
        50% {
          background-color: #FFD700;
        }
        100% {
          opacity: 1
        }
      }
        /* MY PART */
     .myp{
        height: 3000px;
        width: 225%;
        /* border: 2px solid; */
        margin-top: 3rem;
        display: flex;
        gap: 3rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
     }
     /* my first heading part  */
     .myheading{
        height: 100px;
        width: 225%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        font-size: 2.3rem;
     }
    .myheading .fa-pizza-slice{
        margin-left: 2rem;
    }

    .mybox{
        /* border: 2px solid;
        height: 750px;
        width: 430px;
        box-shadow: 1rem 1rem 1rem 1rem black; */
        /* border: 2px solid; */
        height: 885px;
        width: 385px;
        box-shadow: 1rem 1rem 1rem 1rem black;
       
    }
/* 1 */
    .mybox:hover{
        animation-name: sumit;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .myboximg {
        height: 450px;
        width: 385px;
        border: 2px solid;
    }
   /* mypart information */
   .myboximg img{
      width: 100%;
      height: 100%;
   }
    .myboxtext{
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1.6;
        text-transform: uppercase;
    }
    .myboxtext span{
        text-decoration-line: line-through;
    }
    .myboxtext .confirm{
        text-decoration-line: underline;
    }
    .myboxtext .conb{
        font-variant: small-caps;
        font-size: 2rem;
        color: white;
        background-color: black;
        width: 16rem;
        margin-left: 2rem;
        height: 4rem;
    }

    .myboxtext i{
        margin-top: 1rem;
    }

/* 2 */
.myboximg2 {
    height: 450px;
    width: 385px;
    border: 2px solid;
}

.myboximg2 img{
  width: 100%;
  height: 100%;
}
.myboxtext2{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
}
.myboxtext2 span{
    text-decoration-line: line-through;
}
.myboxtext2 .confirm{
    text-decoration-line: underline;
}
.myboxtext2 .conb{
    font-variant: small-caps;
    font-size: 2rem;
    color: white;
    background-color: black;
    width: 16rem;
    margin-left: 2rem;
    height: 4rem;
}

.myboxtext2 i{
    margin-top: 1rem;
}


/* 3 */
.myboximg3 {
    height: 450px;
    width: 385px;
    border: 2px solid;
}

.myboximg3 img{
  width: 100%;
  height: 100%;
}
.myboxtext3{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
}
.myboxtext3 span{
    text-decoration-line: line-through;
}
.myboxtext3 .confirm{
    text-decoration-line: underline;
}
.myboxtext3 .conb{
    font-variant: small-caps;
    font-size: 2rem;
    color: white;
    background-color: black;
    width: 16rem;
    margin-left: 2rem;
    height: 4rem;
}

.myboxtext3 i{
    margin-top: 1rem;
}


/* 4 */
.myboximg4 {
    height: 450px;
    width: 385px;
    border: 2px solid;
}

.myboximg4 img{
  width: 100%;
  height: 100%;
}
.myboxtext4{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
}
.myboxtext4 span{
    text-decoration-line: line-through;
}
.myboxtext4 .confirm{
    text-decoration-line: underline;
}
.myboxtext4 .conb{
    font-variant: small-caps;
    font-size: 2rem;
    color: white;
    background-color: black;
    width: 16rem;
    margin-left: 2rem;
    height: 4rem;
}

.myboxtext4 i{
    margin-top: 1rem;
}


/* 5 */
.myboximg5 {
    height: 450px;
    width: 385px;
    border: 2px solid;
}

.myboximg5 img{
  width: 100%;
  height: 100%;
}
.myboxtext5{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
}
.myboxtext5 span{
    text-decoration-line: line-through;
}
.myboxtext5 .confirm{
    text-decoration-line: underline;
}
.myboxtext5 .conb{
    font-variant: small-caps;
    font-size: 2rem;
    color: white;
    background-color: black;
    width: 16rem;
    margin-left: 2rem;
    height: 4rem;
}

.myboxtext5 i{
    margin-top: 1rem;
}


/* 6 */
.myboximg6 {
    height: 450px;
    width: 385px;
    border: 2px solid;
}

.myboximg6 img{
  width: 100%;
  height: 100%;
}
.myboxtext6{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
}
.myboxtext6 span{
    text-decoration-line: line-through;
}
.myboxtext6 .confirm{
    text-decoration-line: underline;
}
.myboxtext6 .conb{
    font-variant: small-caps;
    font-size: 2rem;
    color: white;
    background-color: black;
    width: 16rem;
    margin-left: 2rem;
    height: 4rem;
}

.myboxtext6 i{
    margin-top: 1rem;
}

/* my second part heading */
.myheading2{
    height: 100px;
    width: 225%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 2.3rem;
 }
.myheading2 .fa-champagne-glasses{
    margin-left: 2rem;
}

/* my third part heading */
.myheading3{
    height: 100px;
    width: 225%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 2.3rem;
 }
.myheading3 .fa-champagne-glasses{
    margin-left: 2rem;
}

/* my for part heading */
.myheading4{
    height: 100px;
    width: 225%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 2.3rem;
 }
.myheading4 .fa-ice-cream{
    margin-left: 2rem;
}


/* my five part heading */
.myheading5{
    height: 100px;
    width: 225%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 2.3rem;
 }
.myheading5 .fa-utensils{
    margin-left: 2rem;
}
/* video */

.myboximg video {
    height: 100%;
    width: 100%;
    
}
.myboximg1 video {
    height: 100%;
    width: 100%;
}
.myboximg2 video {
    height: 100%;
    width: 100%;
}
.myboximg3 video {
    height: 100%;
    width: 100%;
}
.myboximg4 video {
    height: 100%;
    width: 100%;
}
.myboximg5 video {
    height: 100%;
    width: 100%;
}
.myboximg6 video {
    height: 100%;
    width: 100%;
}






    .xxx{
        display: none;
     }

    .zzz{
        color: white;

        margin-top: 10rem;
        height: 136px;
        width: 225%;
        background-color: #11C14F;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
    }
    .zzz1 {
        width: 100%;
        display: block;
        font-variant: small-caps;
        font-weight: bold;
        margin-left: 5rem;
        margin-top: 5rem;
        display: block;
        font-size: 4rem;
    }

    .zzz1 button {
        height: 6rem;
        width: 20rem;
        font-size: 2.4rem;
        background-color: #008000;
        border: none;
        color: white;
    }
    .zzz1 button:hover{
        background-color: #FFD700;
        cursor: pointer;
       
    }
    .main img {
        height: 147%;
        margin-top: 10rem;
        margin-left: 3rem;
    }

    /* aside */
    .offer {
     
        height: 1200px;
        margin-top: 2300px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        gap: 2rem;
        margin-top: 1301px;
        margin-left: 11rem;
    }
    .box{
        font-size: 2rem;
        height: 271px;
        width: 500px;
     
    }
    .box img{
        height: 120px;
        width: 120px;
    }
    .box h2 , p{
        margin-left: 2rem;
    }
    .box p{
        font-variant: small-caps;
    }

    .line{
        width: 225%;
        height: 8px;
        background-color: rgb(96, 96, 96);
        margin-top: 100px;
    }
    .imgg{
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-left: 40px;
        }
        .footer{
            display: flex;
            justify-content:space-around;
            height: 250px;
            background: #127886;
            margin-top: 4rem;
            /* align-items: center; */
            color: white;
            gap: 10px;
        }

        .head {    
            width: 225%;
            height: 170px;
            box-shadow: 0.5rem 0.1rem 0.6rem rgb(208, 198, 198);
            align-items: center;
            justify-content: space-between;
            display: flex;
        }
        .om{
            width: 225%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-top: 7rem;
            height: 344px;
        }
        .om button {
            font-size: 2rem;
            margin-left: 5rem;
            background-color: green;
            color: white;
            border: none;
            height: 6rem;
            width: 20rem;
        }
        .om button:hover{
            background-color: gold;
        }
        .om p {
            margin-left: 4rem;
            font-size: 5rem;
            font-weight: bold;
        }

        .head img{
            height: 85%;
        }
        .head i{
            height: 30px;
        }

        #off{
            font-size: 3rem;
            margin-top: 0rem;
            height: 100px;
            margin-right: -36rem;
        }
        #off p{
            text-align: center;
        }
        .imgg{
            display: none;
        }

        /* footer part */
        .footer {
            font-size: 3rem;
            width: 225%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
            height: 1200px;
            background: #127886;
            margin-top: 10rem;
            /* align-items: center; */
            color: white;
            gap: 10px;
        }
        .footer h3{
            border-bottom: 4px solid;
        }
        .footer img{
            height: 206px;
            width: 392px;
            margin-top: 3rem;
        }

        .footer input{
            font-size: 2.3rem;
        }

        .footer i{
            font-size: 5rem;
        }




 }